<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link href='http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
       <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
      <![endif]-->
      <link rel="stylesheet" type="text/css" href="/static/content/style.css" />
      <style> 
          {{hiden_block}}{
              display: none;
          }
      </style>
   </head>
   <body>
       <div id="header">
            <ul>
                <li><a href="#goal">что</a></li>
                <li><a href="#purpose">зачем</a></li>
                <li><a href="#wright-us">напиши нам</a></li> 
                <li><a href="#techstart">техностарт</a></li>      
            </ul>
       </div>
       <div id="main">
            <strong>Привет! Мы делаем интернет для котиков</strong>
       </div>
       <div id="header-mobile">
           <ul>
               <li><a href="#goal">что</a></li>
               <li><a href="#purpose">зачем</a></li>
               <li><a href="#wright-us">напиши нам</a></li>
               <li><a href="#techstart">техностарт</a></li>
           </ul>
       </div>
       <div id="goal">
            <div id="goal-inner-wrapper">
            <div id="top">
                 <p id="goal-1">Ну не сам интернет, а устройство, позволяющее твоему коту выйти в онлайн.</p>
                 <p id="goal-2">Умный браслет, как на фото внизу;)</p>
                 <p id="goal-3">Он знает, чем твой питомец занят и постит от его имени в соц. сетях.</p>
            </div>
            <div id="band-pics">
                <img id="img-1" src="/static/content/pics/band3_1.jpg" />
                <img id="img-2" src="/static/content/pics/band1_1.jpg" />
                <img id="img-3" src="/static/content/pics/band2_1.jpg" />  
            </div>
            <div id="bottom">
                Всегда хотел знать,  о чем мяукает твой кот? – Мы расскажем, что у него на уме.
            </div>
            </div>
       </div>
       <div id="purpose">
            <div id="title">
                 <span id="purpose-header">Зачем это надо?</span> <br />(кроме того, что это очень весело)
            </div>
            <div id="purpose-list">
                <ul>
                    <li>Следи за здоровьем питомца. Кот может и не может сказать, когда ему плохо, зато мы можем.</li>
                    <li>Уехал из дома – а кот под надежным присмотром. Узнай, что делает твой питомец, пока тебя нет рядом!</li>
                    <li>Верный друг теперь и онлайн. Первый лайк и перепост сделан твоим котом – круто же!</li>
                </ul>
            </div>
       </div>
       <div id="wright-us">
           <div id="wright-us-wrapper">
            <p class="wright-us-title-class "id="wright-us-title">Интересно? Напиши!</p>
               <form id="wright-us-form" action="#got-ur-message" method="post">
                   {{form.csrf_token}}
                   <div class="input-wrapper" id="user-name"><div class="label">Имя</div> <input class="one-line-input" type="text" name="name"></div>
                   <div class="input-wrapper" id="user-email"><div class="label">Почта</div><input class="one-line-input" type="email" name="email"></div>
                   <div class="input-wrapper" id="user-query"><textarea name="query"></textarea></div>
                   <div id="button"><button type="submit">НАПИСАТЬ</button></div>
               </form>
            </div>
       </div>
       <div id="got-ur-message">
           Мы получили твое сообщение и обязательно ответим! Спасибо;)
       </div>
       <div id="techstart">
            <div id="inner">
                <p id="techstart-1">А еще мы участвуем в Техностарте.</p>
                <p id="techstart-2">Это чемпионат проектов от mail.ru</p>
                <div id="call-to-action">
                    <div class="call-button" id="read"><a href="http://techno-start.ru/blog/51">Читай блог</a></div>
                    <div class="call-button" id="like"><a href="http://techno-start.ru/idea/51/">Лайкай идею</a></div>
                    <div class="call-button" id="news"><a href="http://techno-start.ru">Следи за новостями</a></div>
                </div>
            </div>
       </div>
   </body>
</html>